.App {
  text-align: center;
}

.form {
  padding: 30px
}

.location {
  margin: 15px;
  padding: 10px;
  background-color: lightgray;
}
button {
  padding: 5px;
  margin: 10px;
}

input {
  margin: 5px;
}
